<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>用户增加</h2>
        <form action='/doAdd' method="post">
            用户名:<input type="text" name="username" value=""> <br/>
            年&nbsp;&nbsp;&nbsp;龄:<input type="text" name="age" value=""> <br/>
            性&nbsp;&nbsp;&nbsp;别:<input type="text" name="sex" value=""> <br/>
        
            <button type="submit">提交</button>
        </form>
</body>
</html>